<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- 1. 물어보기 관련 퍼미션 : STT, TTS, ChatGPT -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 2. 관련 퍼미션 : -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_ALARM" /> <!-- 3. 원격 관련 퍼미션 : -->

    <!-- 2. 관련 퍼미션 및 쿼리: -->
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <package android:name="com.kakao.talk"/>
        <package android:name="com.coupang.mobile"/>
        <package android:name="com.google.android.youtube"/>
        <package android:name="com.sec.android.gallery3d"/>
        <package android:name="com.samsung.android.messaging"/>
        <package android:name="com.skt.prod.dialer"/>
        <package android:name="com.samsung.android.calendar"/>
        <package android:name="com.nhn.android.nmap"/>
        <package android:name="com.nhn.android.search"/>
        <package android:name="com.sec.android.app.popupcalculator"/>
        <package android:name="com.teamviewer.teamviewer.market.mobile"/>
        <package android:name="com.teamviewer.quicksupport.market"/>
    </queries>
    <!-- 3. 원격 관련 퍼미션 : -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mumulbo2023"
        tools:targetApi="31" >
        <service
            android:name=".WidgetService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPersonActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".PleaseActivity" />
        <activity android:name=".ActMmbActivity" />
        <activity android:name=".AskMmbActivity" />
        <activity android:name=".PkyTestActivity" />
        <activity android:name=".PshTestActivity" />

        <service
            android:name=".CustomAccessibilityService"
            android:exported="true"
            android:label="무엇이든 물어보세요"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>